<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/incident.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/general.css')}}">
    <title>WitchHunt Honeypot</title>
  </head>
  <body>
    <h1> Incident List </h1>
    <div class="search_div_class">
    </div>
    <div class="incident_list_div_class">
    </div>
  </body>
</html>
